.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.stephead{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.step1{
  display: flex;
  color: black;
}
.step2{
  display: flex;
 color: orangered;
}
.hr{
  width: 65%;
   margin-left: auto;
    margin-right: auto
}
.custom-btn {
  background: #fff;
  color: red;
  border: 2px solid red;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}
.changebutton{
  width: 17%;
   height: 50px;
   background-color: rgb(43, 255, 0);
}
